<p id="notice"><%= notice %></p>
<p> <%= "Event Creator: #{@event.creator.first_name} #{@event.creator.last_name}" %> </p>
<p> <%= @event.description %> </p>
<%= form_with(url: "/event_attendings", method: "post") do |f| %>
  <%= f.hidden_field :attended_event_id, value: @event.id %>
  <%= f.submit "Attend this event" %>
<% end %>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_attendees.each do |attendee| %>
    <p> <%= "#{attendee.first_name} #{attendee.last_name}" %> </p>
      <tr>
        <td><%= link_to 'Show', @event %></td>
        <td><%= link_to 'Edit', edit_event_path(@event) %></td>
        <td><%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
